# Convert Data.gov.sg's KML files to Shapefile

### Loading Libraries

In [2]:
import geopandas as gpd
from fiona.drvsupport import supported_drivers
import re
import pandas as pd
from utility import export_df_to_shapefile, load_kml_file_as_df, process_raw_df_from_kml

### Skyrise Greenery

In [5]:
df_skyrise_greenery = load_kml_file_as_df('../data/nparks-skyrise-greenery-kml.kml')
df_skyrise_greenery.head(3)

,Name,Description,geometry
0,kml_1,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.86007 1.29945 0.00000)
1,kml_2,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.85561 1.31063 0.00000)
2,kml_3,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.85649 1.31139 0.00000)

In [6]:
df_skyrise_greenery.loc[0, "Description"]

'<center><table><tr><th colspan=\'2\' align=\'center\'><em>Attributes</em></th></tr><tr bgcolor="#E3E3F3"> <th>Y</th> <td>31312.5274</td> </tr><tr bgcolor=""> <th>X</th> <td>30977.219626</td> </tr><tr bgcolor="#E3E3F3"> <th>POSTAL_CODE</th> <td>199591</td> </tr><tr bgcolor=""> <th>GARDENID</th> <td>97</td> </tr><tr bgcolor="#E3E3F3"> <th>ADDRESS</th> <td>7500A Beach Road Singapore 199591</td> </tr><tr bgcolor=""> <th>PROJECT_NAME</th> <td>Parkroyal on Beach Road</td> </tr><tr bgcolor="#E3E3F3"> <th>INC_CRC</th> <td>30DE7C10E49125D2</td> </tr><tr bgcolor=""> <th>FMEL_UPD_D</th> <td>20160317140030</td> </tr></table></center>'

In [11]:
transformed_df_skyrise_greenery = process_raw_df_from_kml(df_skyrise_greenery, "POSTAL_CODE", "X", "Y", "PROJECT_NAME", "INC_CRC", "FMEL_UPD_D", "GARDENID", "ADDRESS")
transformed_df_skyrise_greenery.sample(5)

,Name,Description,geometry,POSTAL_CODE,X,Y,PROJECT_NAME,INC_CRC,FMEL_UPD_D,GARDENID,ADDRESS
251,kml_252,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.81098 1.29400 0.00000),141061,25513.822889,30709.2277,MSCP,6601384BE0398DBB,20160317140030,198,61 Dawson Road Singapore 141061
161,kml_162,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.75903 1.38436 0.00000),672632,19732.936999,40700.5939,Bukit Panjang N6C9(S),F075F6235EA65461,20160317140030,382,632 Senja Road Singapore 672632 (Senja Green)
392,kml_393,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.93300 1.35534 0.00000),523869,39093.53553,37491.9657,Tampines N8C26(S) - Tampines Greenwood,8408589FF9F72D8D,20160317140030,487,869C Tampines Avenue 8 Singapore 523869
193,kml_194,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.77521 1.29131 0.00000),119618,21533.094348,30412.238,NUS Sheares Hall,29E2118A969F3A37,20160317140030,425,20 Heng Mui Keng Terrace S119618
284,kml_285,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.85908 1.34013 0.00000),319255,30867.092521,35810.1194,Subaru Hub Toa Payoh Lor 8,620960A36B21BEDA,20160317140030,246,19 Toa Payoh Lorong 8 Singapore 319255

### Aedes Population

In [12]:
df_aedes_pop = load_kml_file_as_df('../data/areas-with-high-aedes-population-kml.kml')
df_aedes_pop.head(3)

,Name,Description,geometry
0,kml_1,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.83178 1.32596 0.00000, 103.832..."
1,kml_2,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.83356 1.30894 0.00000, 103.833..."
2,kml_3,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.83438 1.36239 0.00000, 103.834..."

In [13]:
df_aedes_pop.loc[0, "Description"]

'<center><table><tr><th colspan=\'2\' align=\'center\'><em>Attributes</em></th></tr><tr bgcolor="#E3E3F3"> <th>DESCRIPTION</th> <td>CO52- Asimont Ln / Barker Rd / Dunearn Rd / Goldhill Ave / Goldhill Dr / Goldhill Pl / Goldhill Rise / Goldhill View / Malcolm Pk / Malcolm Rd / Mtrosie Rd / Swiss Cottage Estate / Whitley Rd</td> </tr><tr bgcolor=""> <th>NAME</th> <td>High Aedes Mosquitoes Population Area. Let\'s fight Dengue together. Do the Mozzie Wipe-out today. </td> </tr><tr bgcolor="#E3E3F3"> <th>HYPERLINK</th> <td>https://www.nea.gov.sg/dengue-zika/Aedes</td> </tr><tr bgcolor=""> <th>INC_CRC</th> <td>5DB3C5276DEB0700</td> </tr><tr bgcolor="#E3E3F3"> <th>FMEL_UPD_D</th> <td>20210914224949</td> </tr></table></center>'

In [14]:
df_aedes_pop = process_raw_df_from_kml(df_aedes_pop, "DESCRIPTION", "NAME", "HYPERLINK", "INC_CRC", "FMEL_UPD_D")

In [15]:
df_aedes_pop.sample(5)

,Name,Description,geometry,DESCRIPTION,NAME,HYPERLINK,INC_CRC,FMEL_UPD_D
266,kml_267,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.69094 1.34183 0.00000, 103.690...",FL693- Jurong West St 91,High Aedes Mosquitoes Population Area. Let's f...,https,294BA9CCAA73B494,20210722095516
31,kml_32,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.83721 1.37992 0.00000, 103.837...",FL416- Ang Mo Kio Ave 4 / Ang Mo Kio Ave 5,High Aedes Mosquitoes Population Area. Let's f...,https,69B540DEEDB8DA5D,20210914224949
52,kml_53,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.88579 1.31121 0.00000, 103.885...",FL202- Cassia Cres / Guillemard Rd / Pine Ln,High Aedes Mosquitoes Population Area. Let's f...,https,15B4736F0EFA315F,20210914224949
1,kml_2,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.83356 1.30894 0.00000, 103.833...",CO53- Balmoral Cres / Balmoral Rd / Bt Timah R...,High Aedes Mosquitoes Population Area. Let's f...,https,5D28B12A008DDCD2,20210914224949
9,kml_10,<center><table><tr><th colspan='2' align='cent...,"POLYGON Z ((103.79304 1.44484 0.00000, 103.793...",FL586- Woodlands Ave 9 / Woodlands St 82,High Aedes Mosquitoes Population Area. Let's f...,https,874D48EC2720B10C,20210914224949